.container-fluid {
    padding-top: 70px !important; 
    padding-bottom: 70px !important;
}
.navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    letter-spacing: 5px !important;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px !important;
}

.footer {
	position: absolute !important;
	text-align: center !important;
	bottom: 0 !important;
	width: 100% !important;
	height: 60px !important;
	background-color: #1abc9c !important;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
